<div class="flex items-center justify-center custom-height-user text-xl">
  <div class="rounded-lg border border-black">
    <div class="border-b border-gray-300 p-4">
      <p class="font-semibold mb-2">log in</p>
      <input
        type="password"
        placeholder="Password"
        class="border border-black p-2 rounded-lg"
      />
    </div>
    <div class="flex gap-2 text-white text-base p-4">
      <button class="p-2 bg-gray-600 rounded-lg text-white">Cancel</button>
      <button class="p-2 bg-primary rounded-lg text-white">Log in</button>
    </div>
  </div>
</div>
