<div class="d-flex align-items-center justify-content-center custom-height-user">
  <div class="card border-dark">
    <div class="card-header border-bottom">
      <h5 class="card-title mb-0">Log in</h5>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
        />
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-secondary" (click)="redirectToHome()">Cancel</button>
      <button class="btn btn-primary">Log in</button>
    </div>
  </div>
</div>